.body-artikel{
  /* background-color: rgb(37, 37, 98); */
  background: rgb(37, 37, 98);
 padding-top: 50px;
}
.style-artikel-terkait{
    /* display: flex; */
    margin: auto;
}
.konten{
    /* display: flex;
    margin: auto; */
}
.card-main{
  /* justify-content: center; */
  margin: 10px 30px 10px 30px;
  background-color: rgba(255, 254, 254, 0) !important;
}
.title-card-main {
  text-align:justify;
}

.img-card-main{
  height: 500px;
  width: 800px !important;
  display: flex;
  margin: auto;
  margin-top: 20px;
 object-fit: cover;
 margin-bottom: 100px;
}
.Card-Detail{
  margin-top: 20px;
  width: 18rem;
  background-color: rgba(163, 163, 163, 0.089) !important;
  border-radius: 25px !important;
}
.img-card{
  height: 200px;
  width: 200px !important;
  display: flex;
  margin: auto;
  margin-top: 20px;
  border-radius:25px !important;
}
.title-card{
  text-align: center;
}